.container {
    padding-top: 100px;
}
.comments {
    margin-left: auto !important;
    margin-right: auto !important;
}
.author span {
    color: #4183c4;
}
.content-reply:hover {
    cursor: pointer;
}
.content-reply:hover .reply{
    color: #4183c4;
}
.actions a i{
    margin-left: 7px;
}
.actions a{
    padding-top: 20px;
}
.total-comment { 
    padding-left: 30px;
 }